.index-page {
  .at-nav-bar {
    position: relative;
    z-index: 999;

    .at-nav-bar__title {
      font-size: 16Px;
    }
  }

  .index-page-content {
    position: relative;
    height: calc(100vh - 46Px);

    .park-wrapper {
      width: 100%;
      height: 100%;

      .park-inner-wrapper {
        position: absolute;
        transform-origin: 0 0 !important;

        .park-point {
          position: absolute;
          width: 48Px;
          height: 48Px;
          border-radius: 50%;
          line-height: 47Px;
          font-size: 18Px;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}
